# Core utilities
requests
types-requests
httpx

# FastAPI and Web Server
fastapi
uvicorn

# PDF and Web Scraping
pdfplumber
beautifulsoup4
chardet
langdetect

# Machine Learning & NLP
sentence-transformers
torch
transformers
nltk

# Search and Retrieval
duckduckgo-search
langchain
chromadb

# Data Validation and Logging
pydantic
json-log-formatter

# CLI, ASCII arts
pyfiglet
